._5v47 {
  display: inline;
  white-space: nowrap;
}
.UFICommentContent ._5v47 {
  font-size: 12px;
}
._5uzb {
  padding-right: 3px;
}
._1ipe {
  font-size: 0;
  visibility: hidden;
}
._1x3s {
  display: none;
}
._23n- {
  position: relative;
}
._32rk {
  position: absolute;
}
._32rk._32rg {
  left: 0;
}
._32rk._32rh {
  right: 0;
}
._32rk._1cy5 {
  left: 50%;
  transform: translateX(-50%);
}
._32rk._9ppc {
  right: 100%;
}
._32rk._32ri {
  top: 0;
}
._32rk._32rj {
  bottom: 0;
}
._32rk._1cy6 {
  top: 50%;
  transform: translateY(-50%);
}
._32rk._1cy5._1cy6 {
  transform: translate(-50%, -50%);
}
._8l_f ul,
._8l_f ol {
  margin-left: 1.5em;
  padding-inline-start: 40px;
}
._8l_f ol ol {
  list-style-type: lower-alpha;
}
._8l_f ol ol ol {
  list-style-type: lower-roman;
}
._8l_f p,
._8l_f ul,
._8l_f ol {
  word-wrap: break-word;
}
.sp_C8sMNrFJMdX {
  background-image: url(/rsrc.php/v3/yk/r/EDY5x5QVNy2.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12px;
  width: 16px;
}
.sp_C8sMNrFJMdX.sx_6410fc {
  height: 16px;
  background-position: 0 -49px;
}
.sp_C8sMNrFJMdX.sx_886b9d {
  height: 16px;
  background-position: -17px -49px;
}
.sp_C8sMNrFJMdX.sx_8cce9f {
  height: 16px;
  background-position: -34px -49px;
}
.sp_C8sMNrFJMdX.sx_5ba5e7 {
  height: 16px;
  background-position: -51px -49px;
}
.sp_C8sMNrFJMdX.sx_2c314a {
  height: 9px;
  background-position: -68px -49px;
}
.sp_C8sMNrFJMdX.sx_18f1a9 {
  width: 12px;
  background-position: 0 -66px;
}
.sp_C8sMNrFJMdX.sx_2b30fe {
  width: 12px;
  background-position: -13px -66px;
}
.sp_C8sMNrFJMdX.sx_d48cf5 {
  width: 10px;
  background-position: -52px -66px;
}
.sp_C8sMNrFJMdX.sx_2f9e5b {
  width: 11px;
  height: 9px;
  background-position: -64px -67px;
}
.sp_C8sMNrFJMdX.sx_720219 {
  height: 8px;
  background-position: -85px -49px;
}
.sp_C8sMNrFJMdX.sx_69ac83 {
  width: 12px;
  background-position: -26px -66px;
}
.sp_C8sMNrFJMdX.sx_65dcc7 {
  width: 12px;
  background-position: -39px -66px;
}
.sp_C8sMNrFJMdX.sx_210365 {
  width: 500px;
  height: 48px;
  background-position: 0 0;
}
.sp_JbUpZj0kZk0 {
  background-image: url(/rsrc.php/v3/yS/r/dQ3tzHOR3BF.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.sp_JbUpZj0kZk0.sx_553650 {
  background-position: 0 0;
}
.sp_JbUpZj0kZk0.sx_f23022 {
  background-position: 0 -17px;
}
.sp_JbUpZj0kZk0.sx_1e6728 {
  background-position: 0 -34px;
} /*FB_PKG_DELIM*/

#bootloader_WD0ROa1 {
  height: 42px;
}
.bootloader_WD0ROa1 {
  display: block !important;
}
