a.menu-icon-143,
ul.links li.menu-icon-143 a,
ul.menu li.menu-icon-143 a {
  background-image: url(/sites/default/files/menu_icons/algerie_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-144,
ul.links li.menu-icon-144 a,
ul.menu li.menu-icon-144 a {
  background-image: url(/sites/default/files/menu_icons/bahrein.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-145,
ul.links li.menu-icon-145 a,
ul.menu li.menu-icon-145 a {
  background-image: url(/sites/default/files/menu_icons/egypte.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-146,
ul.links li.menu-icon-146 a,
ul.menu li.menu-icon-146 a {
  background-image: url(/sites/default/files/menu_icons/germany.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-146,
ul.links li.menu-icon-146 a,
ul.menu li.menu-icon-146 a {
  background-image: url(/sites/default/files/menu_icons/germany.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-147,
ul.links li.menu-icon-147 a,
ul.menu li.menu-icon-147 a {
  background-image: url(/sites/default/files/menu_icons/indonesia.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-148,
ul.links li.menu-icon-148 a,
ul.menu li.menu-icon-148 a {
  background-image: url(/sites/default/files/menu_icons/iraq.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-149,
ul.links li.menu-icon-149 a,
ul.menu li.menu-icon-149 a {
  background-image: url(/sites/default/files/menu_icons/jordanie.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-150,
ul.links li.menu-icon-150 a,
ul.menu li.menu-icon-150 a {
  background-image: url(/sites/default/files/menu_icons/soudan.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-151,
ul.links li.menu-icon-151 a,
ul.menu li.menu-icon-151 a {
  background-image: url(/sites/default/files/menu_icons/south-africa.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-152,
ul.links li.menu-icon-152 a,
ul.menu li.menu-icon-152 a {
  background-image: url(/sites/default/files/menu_icons/syria.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-153,
ul.links li.menu-icon-153 a,
ul.menu li.menu-icon-153 a {
  background-image: url(/sites/default/files/menu_icons/saudia.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-154,
ul.links li.menu-icon-154 a,
ul.menu li.menu-icon-154 a {
  background-image: url(/sites/default/files/menu_icons/liban.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-155,
ul.links li.menu-icon-155 a,
ul.menu li.menu-icon-155 a {
  background-image: url(/sites/default/files/menu_icons/maroc.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-156,
ul.links li.menu-icon-156 a,
ul.menu li.menu-icon-156 a {
  background-image: url(/sites/default/files/menu_icons/libya.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-157,
ul.links li.menu-icon-157 a,
ul.menu li.menu-icon-157 a {
  background-image: url(/sites/default/files/menu_icons/pakistan.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-158,
ul.links li.menu-icon-158 a,
ul.menu li.menu-icon-158 a {
  background-image: url(/sites/default/files/menu_icons/turkia.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-159,
ul.links li.menu-icon-159 a,
ul.menu li.menu-icon-159 a {
  background-image: url(/sites/default/files/menu_icons/jordanie_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-160,
ul.links li.menu-icon-160 a,
ul.menu li.menu-icon-160 a {
  background-image: url(/sites/default/files/menu_icons/egypte_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-161,
ul.links li.menu-icon-161 a,
ul.menu li.menu-icon-161 a {
  background-image: url(/sites/default/files/menu_icons/algerie.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-162,
ul.links li.menu-icon-162 a,
ul.menu li.menu-icon-162 a {
  background-image: url(/sites/default/files/menu_icons/germany_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-163,
ul.links li.menu-icon-163 a,
ul.menu li.menu-icon-163 a {
  background-image: url(/sites/default/files/menu_icons/bahrein_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-164,
ul.links li.menu-icon-164 a,
ul.menu li.menu-icon-164 a {
  background-image: url(/sites/default/files/menu_icons/indonesia_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-165,
ul.links li.menu-icon-165 a,
ul.menu li.menu-icon-165 a {
  background-image: url(/sites/default/files/menu_icons/liban_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-166,
ul.links li.menu-icon-166 a,
ul.menu li.menu-icon-166 a {
  background-image: url(/sites/default/files/menu_icons/saudia_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-167,
ul.links li.menu-icon-167 a,
ul.menu li.menu-icon-167 a {
  background-image: url(/sites/default/files/menu_icons/south-africa_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-168,
ul.links li.menu-icon-168 a,
ul.menu li.menu-icon-168 a {
  background-image: url(/sites/default/files/menu_icons/libya_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-169,
ul.links li.menu-icon-169 a,
ul.menu li.menu-icon-169 a {
  background-image: url(/sites/default/files/menu_icons/maroc_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-170,
ul.links li.menu-icon-170 a,
ul.menu li.menu-icon-170 a {
  background-image: url(/sites/default/files/menu_icons/pakistan_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-171,
ul.links li.menu-icon-171 a,
ul.menu li.menu-icon-171 a {
  background-image: url(/sites/default/files/menu_icons/soudan_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-172,
ul.links li.menu-icon-172 a,
ul.menu li.menu-icon-172 a {
  background-image: url(/sites/default/files/menu_icons/syria_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-173,
ul.links li.menu-icon-173 a,
ul.menu li.menu-icon-173 a {
  background-image: url(/sites/default/files/menu_icons/turkia_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.menu-icon-174,
ul.links li.menu-icon-174 a,
ul.menu li.menu-icon-174 a {
  background-image: url(/sites/default/files/menu_icons/iraq_0.png);
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
